<h1>Home Page </h1>
<% if flash[:message] %>
    <p style="color: red"> <%= flash[:message]  %> </p> 
<% end %>
<p>
<%= link_to "Sign Up Here", signup_path %> 
<p>
<%= link_to "Login Here", '/login' %> 
<p>
 <%= button_to("Log In with Github", '/auth/github')%>