<center>
    <h1><%= @user.username.capitalize %>'s Profile! </h1>

    <h3><%= link_to "See All Their Reviews", user_reviews_path(@user) %></h3>
    <p><p><p>
    
    ------------------------------
    <h3> Most Recent Review </h3>
    <%= render partial: "reviews/review", locals: {review: @review} %>
    


    



</center>
