<center>
    <h1>All Restaurants </h1>

    <h3> Search by Restaurant: </h3>
    <%= form_tag(restaurants_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search") %>
    <% end %>
    <br>
    <br>


    <table>
        <% @restaurants.each do |restaurant| %>
            <tr>
            <td>
                <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
            <p>
            </td>
            </tr>
        <% end %>
    </table>
</center>