<h1><center> All of <%= @restaurant.name %>'s Reviews </center></h1>

<h3><% @restaurant.reviews.each do |review| %>
    <li><%= link_to review.title , review %> | By <%= review.user.username %></li>
    <p>
    <% end %>
</h3>

<%= link_to "Create a New Review", new_restaurant_review_path(@restaurant.id) %>