<center><h1>All Reviews</h1>
<%= create_review_link %>
 <br><br>

<table>
    <% @reviews.each do |review| %>
      
      <%= render review %>
      
    <% end %>
</table>
  
  <br>
  <br>
  <br>
 
</center>